@font-face {
    font-family: 'SquadaOne-Regular';
    src: url('SquadaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	color: #000000;
}

::-webkit-scrollbar {
	width: 0;
  }
html,body {
	color: #000000;
	user-select: none;
	padding: 0;
	margin: 0;
	font-size: 0;
	height: 100%;
	background: rgb(7,0,57);
	background: linear-gradient(90deg, rgba(7,0,57,1) 0%, rgba(5,0,47,1) 0%, rgba(0,0,0,1) 25%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 75%, rgba(41,0,0,1) 100%, rgba(57,0,0,1) 100%);
	font-family: SquadaOne-Regular, Tahoma, serif;
	overflow: hidden;
}
a {
	text-decoration:none;
  }

.mobile {
	height: 100%;
	box-sizing: border-box;
	max-width: 430px;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	overflow: hidden;
}

/* Фон страниц кроме Mine */
.background-coin {
	z-index: 10;
	width: 100%;
	height: 100%;
	max-width: 430px;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	margin: 0 auto;
	opacity: .2;
	background: url("../img/coin.gif") center center / 93% no-repeat;
	background-color: #000;
	display: none;
}
.background-coin.active {
	display: block;
}

/* Наполнение */
.container {
	position: relative;
	z-index: 20;
	width: 100%;
	height: calc(100% - 10px);
	overflow: hidden;
	display: none;
}
.container.active {
	display: block;
}


/* Низ сайта */
footer {
	position: fixed;
  	bottom: 0;
	right: 0;
  	left: 0;
	margin: 0 auto;
  	width: 100%;
	max-width: 430px;
  	display: flex;
  	justify-content:center;
	text-align: center;
  	background-color: rgb(0, 0, 0);
  	padding: 20px 0;
	z-index: 555;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
  }
  footer .footer_buttons {
	width: 100%;	
	display: flex;
	align-items: center;
	justify-content: center;
  }
footer .footer_buttons .btn_frens,
footer .footer_buttons .btn_mine,
footer .footer_buttons .btn_tasks {
	width: 33.3%;
	color: white;
  	font-size: 25px;
  	background: none;
  	border: none;
	margin-bottom: 3%;
}
footer .footer_buttons .btn_frens.active,
footer .footer_buttons .btn_mine.active,
footer .footer_buttons .btn_tasks.active {
	text-decoration: underline;
}



/* Страница Mine */

.score {
	width: 100%;
	height: 20%;
	color: #ffffffad;
	font-size: 75px;
	display: flex;
  	align-items: end;
  	justify-content: center;
}
.coin {
	width: 100%;
	height: calc(70% - 84px);
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	margin: 0;
	cursor: pointer;
}
.coin .coin_img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 350px;
	width: 350px;
	max-width: 430px;
	max-height: 430px;
	border: none;
	background-color: none;
	border-radius: 50%;
	background-image: url("../img/coin.png");
	background-position: center;
	background-size: 70%;
	background-repeat: no-repeat;

}
.coin .coin_img.active {
	background-image: url("../img/coin.gif");
}





.indicators {
	font-size: 20px;
	position: fixed;
	bottom: 92px;
	width: 90%;
	max-width: 397px;
	display: table;
	table-layout: fixed;
	right: 0;
  	left: 0;
	margin: 0 auto;
}
.mine_buttons {
	width: 100%;
	display: flex;
}
.boost {
	width: 32.5%;
	background-color: #ffffffad;
	padding: 1%;
	font-family: 'SquadaOne-Regular';
    src: url('SquadaOne-Regular.ttf') format('truetype');
	-webkit-tap-highlight-color: transparent;
    font-weight: normal;
    font-style: normal;
	border: none;
	font-size: 20px;
}
.boost span {
	margin: 0 auto;
}
.boost img {
	width: 25%;
	float: left;
}
.energy {
	width: 35%;
	color: #ffffffad;
	justify-content: center;
}
.fill {
	width: 32.5%;
	background-color: #ffffffad;
	-webkit-tap-highlight-color: transparent;
	padding: 1%;
	justify-content: center;
	font-family: 'SquadaOne-Regular';
    src: url('SquadaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
	border: none;
	font-size: 20px;
}
.fill span {
	margin: 0 auto;
	outline: none;
}
.fill img {
	width: 25%;

}
.boost,.energy,.fill {
	border-radius: 7px;
	display: flex;
	align-items: center;
}
.line-block {
	width: 100%;
}
.line {
	padding: 2px;
	width: calc(100% - 4px);
	height: 11px;
	background-color: #ffffffad;
	border-radius: 4px;
	margin-top: 10px;
}
.inline {
	width: calc(100% - (450 / 1000 * 100%));
	height: 11px;
	background-color: #F00;
	border-radius: 4px;
}

#dialog4 {
	width: 90%;
	max-width: 397px;
	height: 100%;
	position: fixed;
	margin: 0;
	left: 0;
	right: 0;
	border: 0;
	bottom: 0;
	margin: 0 auto;
	box-sizing: border-box;
	background-color: #ffffff00;
}
#dialog4 .dialog_content {
	position: absolute;
	bottom: 20px;
	left: 0;
	bottom: 153px;
	width: 100%;
	max-width: 190px;
	height: 50%;
	background-color: #ffffffad;
	border-radius: 20px;
	box-shadow: 0 5px 30px 0 rgb(0,0,0,0.1);
	color: #ffffff;
	text-align: center;
	animation: fadeIn 1s ease both;
	&::backdrop {
    	animation: fadeIn 1s ease both;
    	z-index: 2;
  	}
}
#dialog4 .dialog_content .close_btn {
	filter: brightness(1);
	background: rgb(52, 52, 52);
	border-radius: 20px;
	color: white;
	width: 50%;
	border: none;
	position: absolute;
	cursor: pointer;
	transform-origin: center;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	font-family: 'SquadaOne-Regular';
    src: url('SquadaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
	font-size: 20px;
	border-top: 3px solid #fff;
	border: none;
	user-select: none;
}




/* Страница Friends */
.friends {
	width: 100%;
	height: calc(100% - 66px);
	display: inline-block;
    justify-content: center;
    align-items: center;
	text-align: center;
	overflow: auto;
	padding: 10px 5% 0 5%;
	box-sizing: border-box;
}
.friends .title {
	width: 100%;
	color: #FFFFFF;
	font-size: 35px;
}
.friends .content {
	width: 100%;
	border-radius: 30px;
	padding: 10px;
	box-sizing: border-box;
}
.friends .content .block {
	width: 100%;
	background-color: #8a8a8a70;
	border-radius: 15px;
	margin-top: 2%;
	color: #FFF;
	padding: 5px 10px;
	box-sizing: border-box;
	font-size: 25px;
	display: flex;
}
.friends .content .block:first-child {
	margin-top: 0;
}
.friends .content .block .fren_name {
	width: 50%;
	text-align: left;
	color: white;
}
.friends .content .block .fren_score {
	width: 50%;
	text-align: right;
	color: white;
}
.friends .content .invite {
	margin-top: 2%;
	width: 100%;
	background-color: #ffffff38;
	color: #000;
	font-size: 25px;
	border-radius: 20px;
	padding: 10px;
	box-sizing: border-box;
}



/* Страница Tasks */
.tasks {
	width: 100%;
	height: calc(100% - 66px);
	display: inline-block;
	text-align: center;
	overflow: auto;
	padding: 10px 5% 0 5%;
	box-sizing: border-box;
}
.titleTasks {
	font-size: 35px;
	color: #FFF;
	margin-bottom: 2%;
}
.tasks .content .block {
	display: inline-flex;
	width: 61%;
	background-color: #8a8a8a70;
	border-radius: 15px;
	color: #000000;
	font-size: 25px;
	margin-bottom: 2%;
}
.tasks .content .block:first-child span {
	height: 100%;
	width: 50%;
	display: grid;
	align-items: center;
	text-align: center;
	margin: auto;
}
.tasks .content .block:first-child img {
	width: 50px;
	height: 50px;
}
.tasks .content button.block:nth-child(2) {
	align-items: center;
	justify-content: center;
	margin-left: 2%;
	width: 37%;
	border: none;
	font-family: 'SquadaOne-Regular';
    src: url('SquadaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.tasks .content .block:nth-child(2) span{
	align-items: center;
	justify-content: center;
	margin-left: 2%;
	width: 37%;
}
.tasks .content .block:nth-child(2) img {
	width: 49px;
	height: 49px;
}
.tasks .content .block:nth-child(3) {
	width: 100%;
	display: inline-block;
	align-items: center;
	text-align: center;
	background-color: #7e7e7e00;
	padding: 0;
}
.tasks .content .block:nth-child(3) .mainblock {
	display: grid;
	grid-template-columns: 23.5% 23.5% 23.5% 23.5%;
	column-gap: 2%;
}
.tasks .content .block:nth-child(3) .bimg {
	width: 100%;
	background-color: #8a8a8a70;
	border-radius: 15px;
	padding: 4px;
	box-sizing: border-box;
}
.tasks .content .block:nth-child(3) .tg {
	width: 50px;
	height: 50px;
	margin: 0 auto;
	background: url("../img/tg.png") center center / 90% no-repeat;

}
.tasks .content .block:nth-child(3) .x {
	width: 50px;
	height: 50px;
	margin: 0 auto;	
	background: url("../img/x.png") center center / 90% no-repeat;

}
.tasks .content .block:nth-child(3) .lock1 {
	width: 50px;
	height: 50px;
	margin: 0 auto;
	background: url("../img/lock.png") center center / 90% no-repeat;

}
.tasks .content .block:nth-child(3) .lock2 {
	width: 50px;
	height: 50px;
	margin: 0 auto;
	background: url("../img/lock.png") center center / 90% no-repeat;

}

.tasks .content .social {
	display: block;
	margin-top: 2%;
	border: none;
	width: 100%;
	height: 100%;
	font-size: 25px;
	padding: 2px;
	background-color: #8a8a8a70;
	border-radius: 20px;
	font-family: 'SquadaOne-Regular';
    src: url('SquadaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}
.tasks .content .social .awards {
	display: grid;
	grid-template-columns: 23.5% 23.5% 23.5% 23.5%;
	gap: 2%;
}
.tasks .content .social .awards .award {
	width: 70%;
	height: max-content;
	margin: -2px auto 0 auto;
	background-color: #1100ff50;
	border-radius: 5px;
	font-size: 20px;
}
.tasks .content .social .award:nth-child(2) {
	width: 70%;
	height: max-content;
	margin: -2px auto 0 auto;
	background-color: #1100ff50;
	border-radius: 5px;
	font-size: 20px;
}
.tasks .content .social .award:nth-child(3) {
	width: 70%;
	height: max-content;
	margin: 0 auto;
	background-color: #1100ff;
	border-radius: 10px;
	font-size: 20px;
}
.tasks .content .social .award:nth-child(4) {
	width: 70%;
	height: max-content;
	margin: 0 auto;
	background-color: #1100ff;
	border-radius: 10px;
	font-size: 20px;
}
.tasks .content .block:nth-child(4){
	width: 100%;
	display: block;
	height: max-content;
	padding: 2%;
	box-sizing: border-box;
}
.tasks .content .block:nth-child(4) .login {
	text-align: center;
	display: inline-block;
	color: #000000;
	width: 75%;
	margin-bottom: 2%;

}
.tasks .content .block:nth-child(4) .dayscore {
	display: inline-block;
	text-align: left;
	color: #000000;
	width: 25%;
}

.week1 .days:nth-child(-n +6) {
	opacity: 1;
}
.week1 .days:last-child {
	background-color: rgb(255, 0, 0);
	opacity: 1;
	height: 40px;
}
.week2 .days:last-child {
	background-color: rgb(47, 0, 255);
	opacity: 0.1;
	height: 40px;
}

.days {
	background-color: rgb(40, 40, 40);
	opacity: 0.3;
	border-radius: 10px;
	display: inline-flex;
  	align-items: center;
  	justify-content: center;
	width: 40px;
	margin: 2px;
	height: 40px;
}

.days img {
	width: 90%;
	height: 90%;
}
.week1 {
	width: 100%;
	display: inline-flex;
  	justify-content: center;
}
.week2{
	width: 100%;
	display: inline-flex;
  	justify-content: center;
}

.tasks .content .block:nth-child(5) {
	width: 100%;
	display: inline-block;
	padding: 2%;
	box-sizing: border-box;
	font-family: 'SquadaOne-Regular';
    src: url('SquadaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
	border: none;
}
.tasks .content .block:nth-child(5) span{
	width: 100%;
	display: block;
}
.tasks .content .block .mine1,.mine2,.mine3 {
	width: 32%;
	background-color: rgb(44, 44, 44);
	border-radius: 10px;
	display: inline-flex;
}
.tasks .content .block:nth-child(6){
	width: 100%;
	display: grid;
	grid-template-rows: 50% 50%;
  	align-items: center;
  	justify-content: center;
	padding: 2%;
	box-sizing: border-box;
}
.tasks .content .block:nth-child(6) span {
	width: 100%;
}
.tasks .content .block:nth-child(6) span1 {
	width: 100%;
	margin-top: 2%;
}
#dialog {
	padding: 8.5px;
	background: rgba(126, 126, 126, 0.427);
	width: 95%;
	height: 60%;
	max-width: 400px;
	max-height: 750px;
	position: fixed;
	text-align: center;
	top: 44%;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border: 0;
	box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
	animation: fadeIn 1s ease both;
  &::backdrop {
    animation: fadeIn 1s ease both;
    z-index: 2;
    backdrop-filter: blur(20px);
  }
  }
  #dialog .close_btn {
	border: none;
	width: 20%;
	background: rgb(52, 52, 52);
	border-radius: 20px;
	color: rgb(243, 243, 243);
	position: absolute;
	top: 15px;
	right: 10px;
	cursor: pointer;
	transform-origin: center;
	user-select: none;
  }
  #dialog .title_frens_tasks {
	width: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-top: 25px;
	margin-bottom: 25px;
  }
  #dialog .title_frens_tasks img {
	height: 85px;
	width: 85px;
  }
  #dialog .title_frens_tasks .title {
	font-size: 35px;
	padding: 8.5px;
	box-sizing: border-box;
	color: #fff;
  }
  #dialog .paragraph {
	display: inline-block;
	width: 100%;
	padding: 10px 25px;
	box-sizing: border-box;
	background-color: #3232325e;
	border-radius: 20px;
	margin-top: 2%;
  }
  #dialog .paragraph .paragraph_title {
	font-size: 25px;
	color: #fff;
  }
  #dialog .paragraph .white_line {
	padding: 2px;
	width: 100%;
	height: 11px;
	background-color: #FFF;
	border-radius: 8px;
	margin-top: 10px;
  }
  #dialog .paragraph .white_line .red_line {
	width: calc(68% - 116px);
	height: 11px;
	background-color: #B60000;
	border-radius: 8px;
  }
  #dialog .paragraph .paragraph_button {
	font-size: 20px;
	background-color: #B60000;
	border-radius: 8px;
	width: 50%;
	padding: 5px 8px;
	box-sizing: border-box;
	text-align: center;
	color: #fff;
	margin: 2% auto 0 auto;
	border: none;
	user-select: none;
  }
  .invite {
	margin-top: 2%;
	width: 100%;
	background-color: #3232325e;
	border-radius: 20px;
	padding: 10px;
	box-sizing: border-box;
	margin-bottom: 10%;
}
.link {
	color: #fff;
	font-size: 25px;
}

#dialog2 {
	padding: 8.5px;
	color: #FFF;
	background: rgba(126, 126, 126, 0.427);
	width: 95%;
	height: 100%;
	max-width: 400px;
	max-height: 830px;
	position: fixed;
	text-align: center;
	top: 58%;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border: 0;
	box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
	animation: fadeIn 1s ease both;
  &::backdrop {
    animation: fadeIn 1s ease both;
    z-index: 2;
    backdrop-filter: blur(20px);
  }
  }
  #dialog2 .close_btn {
	filter: brightness(1);
	border: none;
	background: rgb(52, 52, 52);
	border-radius: 20px;
	width: 20%;
	color: white;
	position: absolute;
	top: 15px;
	right: 10px;
	cursor: pointer;
	transform-origin: center;
  }
  #dialog2 .minetitle {
	width: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-top: 25px;
	margin-bottom: 25px;
  }
  #dialog2 .minetitle .title {
	font-size: 35px;
	padding: 8.5px;
	box-sizing: border-box;
	color: white;
  }
  #dialog2 .paragraph {
	display: inline-block;
	width: 100%;
	padding: 10px 25px;
	box-sizing: border-box;
	background-color: #3232325e;
	border-radius: 20px;
	margin-top: 2%;
  }
  #dialog2 .paragraph .mine {
	font-size: 25px;
	color: white;
  }
  #dialog2 .paragraph .white_line {
	padding: 2px;
	width: 100%;
	height: 11px;
	background-color: #FFF;
	border-radius: 8px;
	margin-top: 10px;
  }
  #dialog2 .paragraph .white_line .red_line {
	width: calc(68% - 116px);
	height: 11px;
	background-color: #B60000;
	border-radius: 8px;
  }
  #dialog2 .paragraph .paragraph_button {
	font-size: 20px;
	background: rgba(208, 14, 14, 0.459);
	border-radius: 20px;
	width: 50%;
	padding: 5px 8px;
	box-sizing: border-box;
	text-align: center;
	color: #fff;
	margin: 2% auto 0 auto;
	border: none;
	user-select: none;
  }
  @keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}